<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=localhost;Database=ordering_system;Uid=root;Pwd=;SslMode=none;"/>
    <add key="PhpUploadsFolder" value="C:\xampp\htdocs\ordering_system\uploads"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
